<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='container_16 menu'>
    
    <div class="prefix_1 grid_9">
	    <%= link_to "Home", root_path %> | 
      <%= link_to "Room", new_room_path %> | 
      <%= link_to "Play", play_path %> | 
      <%= link_to "About", about_path %> | 
      <%= link_to "Contact", contact_path %> | 
      <%= link_to "Apps", apps_path %>
	  </div>
	  <div class="grid_5">
		  <%= login_text %>
	  </div>
  </div>	
  <div class='container_16 header'>
    <div class="grid_7">
      <h1><%= image_tag "logo.png"%>Tracker Poker</h1>
    </div>
  </div>
  <div class="container_16 content">
  <% if notice %>
    <p class="ui-state-highlight ui-corner-all">
      <span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
      <%= notice %>
    </p>
  <% end %>
  <% if alert %>
  <div class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
    <p>
      <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
      <strong>Alert:</strong>
      <%= alert %>
    </p>
  </div>
  <% end %>
  
<%= yield %>
  </div>
</body>
</html>
